mat-grid-tile{
    border: 1px solid #eee;
}

.btn-remove-image{
    position: absolute;
    cursor: pointer;
    top: -30px;
    right: -30px;
    background-color: rgb(245, 10, 10);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.dropzone{
    height: 150px;
    min-width: 100px;
    display: table;
    background-color: #eee;
    width: 300px;
    border: dashed 1px #aaa;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.text-wrapper{
    display: table-cell;
    vertical-align: middle;
}

.centered{
    text-align: center;
}

.browse-button{
    color: blue;
    cursor: pointer;
}